body {
    background-color: #F0F0FF;
}

#quarterHolder {
    width: 680px;
    border-radius: 12px;
    background-color: black;
}

#quarterHolder:after {
    content: "";
    display: block;
    clear: both;
}

div.quarterDisplay {
    width: 140px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: #D8D8E6;
    display: block;
    float: left;
}

.userInput {
    width: 58px;
}

